<nav class="nav bg-dark">
  <a routerLink="" class="nav-link text-white">Home|</a>
  <a routerLink="cart" class="nav-link text-white">Add To Cart|</a>
  <a routerLink="contact" class="nav-link text-white">Create Contact|</a>
  <a routerLink="admin" class="nav-link text-white">Admin|</a>
  <a routerLink="prac" class="nav-link text-white">Practice</a>
  <a routerLink="state" class="nav-link text-white">Statemanagement</a>
  <a routerLink="budget" class="nav-link text-white">budget</a>
  <a routerLink="get" class="nav-link text-white">Get Budget</a>
  <a routerLink="dashboard">Dashboard</a>
</nav>
