<div class="container">
    <div class="row col-6 mx-auto shadow p-3">
        <h1 class="text-center text-info">Sign Up Page</h1>
        <div class="col-10 mx-auto">
       <form >
     <input type="text" class="form-control my-2" placeholder="First Name" formControlName="first_name">
     <input type="text" class="form-control my-2" placeholder="Last Name" formControlName="last_name">
     <input type="text" class="form-control my-2" placeholder="Age" formControlName="age">
     <input type="text" class="form-control my-2" placeholder="Phone Number" formControlName="phone_number">
     <input type="text" class="form-control my-2" placeholder="Address" formControlName="address">
     <input type="text" class="form-control my-2" placeholder="Email" formControlName="email">
     <input type="text" class="form-control my-2" placeholder="city" formControlName="city">
     <input type="text" class="form-control my-2" placeholder="Password" formControlName="password">
     <button class="btn btn-success w-100">Submit</button>
     <span>Already have an account?<a routerLink="/signin">Sign In</a></span>
       </form>
        </div>

    </div>

</div>
<div>
 
</div>
