<p>home works!</p>

<p>{{date|date}}</p>
<p>{{date|date:'short'}}</p>
<p>{{date|date:'long'}}</p>
<p>{{date|date:'full'}}</p>
<p>{{date|date:'d/M/Y'}}</p>
<p>{{date|date:'M/d/Y'}}</p>
<p>{{date|date:'shortDate'}}</p>
<p>{{date|date:'longDate'}}</p>
<p>{{date|date:'fullDate'}}</p>
<p>{{date|date:'shortTime'}}</p>
<p>{{date|date:'longTime'}}</p>
<p>{{date|date:'fullTime'}}</p>
<p>{{'hello everyone'|uppercase}}</p>
<p>{{'HELLO'|lowercase}}</p>
<p>{{1.09456|number:'3.1-6'}}</p>
<p>{{2/4|percent}}</p>

<p>{{456777|currency:'GBP':'code'}}</p>
<p>{{456777|currency:'NGN':''}}</p>
<p>{{89000|currency:'NGN':'symbol-narrow'}}</p>
<p>{{'hello'|slice:0:5}}</p>


<div [ngSwitch]="con">
    <div *ngSwitchCase="use">yes</div>
    <div *ngSwitchCase="use1">hjk;llklkokpokoko</div>
    <div *ngSwitchDefault>none</div>
</div>
<button (click)="get()">get</button>























<div>{{"money"|uppercase}}</div>
<!-- <p>{{0.6788900|number:'3.1-6'}}</p> -->
<p>{{"MONEY"|lowercase}}</p>
<p>{{"12000"|currency}}</p>
<p>{{"13000"|currency:'GBP'}}</p>
<p>{{"14000"|currency:'NGN'}}</p>

<p>{{"15000"|currency:'USD':'code'}}</p>
<p>{{"16000"|currency:'NGN':'symbol-narrow'}}</p>
<p>{{"17000"|currency:'EUR':'code'}}</p>
<p>{{"18000"|currency:'GBP':'code'}}</p>
<p>{{2/4 |percent}}</p>
<p>{{date}}</p>
<p>{{date|date}}</p>
<p>{{date|date:'short'}}</p>
<p>{{date|date:'long'}}</p>
<p>{{date|date:'full'}}</p>
<p>{{date|date:'longTime'}}</p>
<p>{{date|date:'shortTime'}}</p>
<p>{{date|date:'fullTime'}}</p>
<p>{{date|date:'fullDate'}}</p>
<p>{{date|date:'shortDate'}}</p>
<p>{{date|date:'longDate'}}</p>
<p>{{date|date:'d/M/Y'}}</p>
<p>{{'helling'|slice:0:4}}</p>